@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.page-title {
  text-align: center;
  font-size: calc(75px + 2vw);
  font-weight: bold;
  border-top: 1px solid #9fa2a7;
  border-bottom: 1px solid #9fa2a7;
  margin: 16px 0px;
  font-family: 'Montserrat', sans-serif;
}
